# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pdb
*.log
*.tlog

# Build directory
/build/*
/CMakeFiles/*
/glowbox.dir/*
/x64/*
/src/.vs/*


!/build/.emptydirectory

/.vscode/*
/.vs/

*.db
